.navArea::before {
  content: "";
  position: absolute;
  top: -1px;
  left: -1px;
  height: calc(100% + 2px);
  width: calc(100% + 2px);
  background-image: conic-gradient(from 359deg,
      #65358A14 20%,
      #65358A14 75%,
      #65358A 77%,
      #65358A14 78%,
      #65358A14 80%,
      #65358A14 100%);

  z-index: -1;
  border-radius: 40px;

}

/* Ensure HomeIcon stays above the ::before */
.home-item {
  position: relative;
  z-index: 1;
}

.navArea {
  position: relative;
  background: white;
}