@import url('https://fonts.cdnfonts.com/css/open-sauce-one');
@import "tailwindcss";
@plugin "daisyui";



body {
 font-family: 'Open Sauce One', sans-serif;
 background: #FFFFFF;
 color: #222222;
}


@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
 
}
